.itemservespCont  {
    display			:block;
	justify-content	:	space-evenly;
	width			:	100%;
    margin-top: 20px;
}

.contenedorCatalago {
	display: flex;
	margin-top: 10px;
	display			:	flex;
    flex-wrap		:	wrap;
	justify-content	:	space-evenly;
}

.itemservespCont  {
    display			:	flex;
    flex-wrap		:	wrap;
	justify-content	:	space-evenly;
	width			:	100%;
}

.seccion_pacientes_pendientes {
	background-color	:	white;
	box-sizing			:	border-box;
	color				:	#fff;
	min-height			:	340px;
	width				:	100%;
}

.itemblog {
    background-color	: 	rgba(254,254,254,1);
	box-shadow			: 	0px 0px 12px rgba(0,0,0,.3);
    box-sizing			:	border-box;
	color				:	white;
	height				:	500px;
	margin				: 	5px 0px;
	max-width			: 	280px;
    min-height			:	 100px;
	min-width			: 	50px;
    padding				: 	20px;
    text-align			: 	center;
	width				: 	400px;
	z-index				: 	1;
	margin-right: 10px;
}

.itemblogForm {
    background-color	: 	rgba(254,254,254,1);
	box-shadow			: 	0px 0px 12px rgba(0,0,0,.3);
    box-sizing			:	border-box;
	color				:	white;
	height				:	900px;
	margin				: 	5px 0px;
	max-width			: 	600px;
    min-height			:	 100px;
	min-width			: 	50px;
    padding				: 	20px;
    text-align			: 	center;
	width				: 	600px;
	z-index				: 	1;
}


.itemblogTitle {
	color		:	black;
	font-size	:	20px;
    font-weight: bold;
}

.itemblogPedido {
	color		:	rgb(83, 26, 93);
	font-size	:	18px;
    font-weight: bold;
	margin-top: 10px;
	margin-right: 10px;
	cursor: pointer;
}

.itemblogEntrega {
	color		:	rgb(33, 12, 154);
	font-size	:	18px;
    font-weight: bold;
	margin-top: 10px;
	cursor: pointer;
}

.productoImagen
{
    height: 150px;
    width: 120px;
}